{#
/**
 * @file
 * Template for modal analytics page.
 */
#}
<div class="modal-analytics-page">
  <div class="modal-analytics-header">
    <h1>{{ 'Marketing Analytics'|t }}</h1>
    <div class="modal-analytics-actions">
      <a href="{{ url('cadence.modal.analytics', {}, {'query': show_archived ? {} : {'show_archived': '1'}}) }}" class="button">
        {{ show_archived ? 'Hide Archived'|t : 'Show Archived'|t }}
      </a>
      <a href="javascript:location.reload();" class="button" title="{{ 'Refresh analytics data'|t }}" aria-label="{{ 'Refresh analytics data'|t }}">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: inline-block; vertical-align: middle; margin-right: 0.25rem;"><path d="M8 2.667a5.333 5.333 0 1 0 0 10.666 5.333 5.333 0 0 0 0-10.666zM1.333 8a6.667 6.667 0 1 1 13.334 0A6.667 6.667 0 0 1 1.333 8zm6.667-2.667V8l2.667 2.667 1.333-1.333L9.333 6.667H8z" fill="currentColor"/></svg>
        {{ 'Refresh'|t }}
      </a>
      <a href="{{ url('cadence.modal.analytics.download') }}" class="button" title="{{ 'Download All Data (CSV)'|t }}" aria-label="{{ 'Download All Data (CSV)'|t }}">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" style="display: inline-block; vertical-align: middle; margin-right: 0.25rem;"><path d="M8 1.333a6.667 6.667 0 1 0 0 13.334A6.667 6.667 0 0 0 8 1.333zM1.333 8a6.667 6.667 0 1 1 13.334 0A6.667 6.667 0 0 1 1.333 8zm7.334 1.333V6.667H7.333v2.666H5.333L8 11.667l2.667-2.334H8.667z" fill="currentColor"/></svg>
        {{ 'CSV'|t }}
      </a>
    </div>
  </div>

  {% if analytics_data is empty %}
    <p>{{ 'No marketing campaign data available yet. Create your first modal campaign to start tracking conversions!'|t }}</p>
  {% else %}
    <div class="modal-analytics-table-wrapper">
      <table class="modal-analytics-table">
        <thead>
          <tr>
            <th>{{ 'Modal'|t }}</th>
            <th class="analytics-number">{{ 'Impressions'|t }}</th>
            <th class="analytics-number">{{ 'CTA 1 Clicks'|t }}</th>
            <th class="analytics-number">{{ 'CTA 2 Clicks'|t }}</th>
            <th class="analytics-number">{{ 'Form Submissions'|t }}</th>
            <th class="analytics-number" title="{{ 'Total interactions'|t }}">{{ 'Interactions'|t }}</th>
            <th class="analytics-number">{{ 'Conversion Rate'|t }}</th>
            <th class="analytics-number">{{ 'Dismissals'|t }}</th>
            <th class="analytics-number">{{ 'Last 30 Days'|t }}</th>
            <th class="analytics-actions">{{ 'Actions'|t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for modal_id, data in analytics_data %}
            <tr class="{{ data.is_archived ? 'modal-analytics-archived' : '' }}">
              <td>
                <strong>{{ data.modal.label() }}{% if data.is_archived %} <span class="modal-archived-badge">{{ 'Archived'|t }}</span>{% endif %}</strong><br>
                <small>{{ data.modal.id() }}</small>
              </td>
              <td class="analytics-number">{{ data.impressions }}</td>
              <td class="analytics-number">{{ data.cta1_clicks }}</td>
              <td class="analytics-number">{{ data.cta2_clicks }}</td>
              <td class="analytics-number">{{ data.form_submissions }}</td>
              <td class="analytics-number"><strong>{{ data.total_interactions }}</strong></td>
              <td class="analytics-number">{{ data.conversion_rate }}%</td>
              <td class="analytics-number">{{ data.dismissals }}</td>
              <td class="analytics-number">{{ data.recent_impressions }}</td>
              <td class="analytics-actions">
                <a href="{{ url('entity.modal.edit_form', {'modal': modal_id}) }}" class="button button--small" title="{{ 'Edit'|t }}" aria-label="{{ 'Edit'|t }}">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M11.333 2.000a2.646 2.646 0 0 1 3.742 3.742l-9.333 9.333a1.333 1.333 0 0 1-.943.39H2.667a1.333 1.333 0 0 1-1.334-1.333v-1.14a1.333 1.333 0 0 1 .39-.943l9.333-9.333a2.667 2.667 0 0 1 .377-.424zm1.81 1.048a1.333 1.333 0 0 0-1.886 0l-.667.667L13.333 5.333l.667-.667a1.333 1.333 0 0 0 0-1.886l-.857-.857zM12 6.000L9.333 3.333 3.333 9.333v2.667H6l6-6z" fill="currentColor"/></svg>
                </a>
                <a href="{{ url('entity.modal.delete_form', {'modal': modal_id}) }}" class="button button--small button--danger" title="{{ data.is_archived ? 'Restore'|t : 'Archive'|t }}" aria-label="{{ data.is_archived ? 'Restore'|t : 'Archive'|t }}">
                  {% if data.is_archived %}
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M8 2.667a5.333 5.333 0 1 0 0 10.666 5.333 5.333 0 0 0 0-10.666zM1.333 8a6.667 6.667 0 1 1 13.334 0A6.667 6.667 0 0 1 1.333 8zm6.667-2.667V8l2.667 2.667 1.333-1.333L9.333 6.667H8z" fill="currentColor"/></svg>
                  {% else %}
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M2.667 2.667h10.666a1.333 1.333 0 0 1 1.334 1.333v1.333a1.333 1.333 0 0 1-1.334 1.334H2.667a1.333 1.333 0 0 1-1.334-1.334V4a1.333 1.333 0 0 1 1.334-1.333zm0 4h10.666v6.667a1.333 1.333 0 0 1-1.334 1.333H4a1.333 1.333 0 0 1-1.333-1.333V6.667zm1.333 1.333v5.333h8V8H4z" fill="currentColor"/></svg>
                  {% endif %}
                </a>
                <a href="{{ url('cadence.modal.analytics.download', {'modal_id': modal_id}) }}" class="button button--small" title="{{ 'Download CSV'|t }}" aria-label="{{ 'Download CSV'|t }}">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M8 1.333a6.667 6.667 0 1 0 0 13.334A6.667 6.667 0 0 0 8 1.333zM1.333 8a6.667 6.667 0 1 1 13.334 0A6.667 6.667 0 0 1 1.333 8zm7.334 1.333V6.667H7.333v2.666H5.333L8 11.667l2.667-2.334H8.667z" fill="currentColor"/></svg>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>
